.box{
  @include  for-phone-only{
    margin-bottom: 3rem;
  }
  @include for-tablet-portrait-up{
    margin-bottom: 3rem;
  }
  @include for-tablet-landscape-up{
    margin-bottom: 3rem;
  }
}
//box-title
.box__title {
  position: relative;
  margin-bottom: 2.9rem;
  font-size: 2rem;
  font-weight: 600;
  color: $color-black-1;
}

//box-round
.box__round {
  position: absolute;
  content: "";
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  top: -3rem;
  left: -3.6rem;
  z-index: -1;
}

//box-content
.box__content{
  line-height: 26px;
  font-size: 1.5rem;
  color:$color-gray-1;
}