.qoute{
    position: relative;
}

.qoute__title{
    position: relative;
    i {
        font-size: 100px;
        padding-left: 2rem;
        color: $color-blue-2;
       
      }
}

.qoute__round{
    position: absolute;
    content: "";
    width: 9.2rem;
    height: 9.2rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    z-index: -1;
}

.qoute__content{
    margin: 26px 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: $color-gray-1;
}

.quote__author{
    display: flex;
    /* Dustin Barnes */
    font-size: 14px;
    line-height: 21px;
    color: #2e2a41;
    font-weight: $fw-3;
    &:before {
      content: "";
      width: 3%;
      border-bottom: 1px solid #d1d0d6;
      margin-bottom: 1rem;
    }
} 
