//Color
$color-white-0: #ffffff;
$color-black: #000;
$color-black-1: #2e2a41;
$color-gray-1: #7e7fa0;
$color-gray-2: #4f4b65; //for header
$color-blue-0: #616ae8;
$color-blue-1: #393f96;
$color-light-green: #20e5a7;
//circle colors
$color-purple: #b06bf1;
$color-pink: #fd9b9b;
$color-light-pink: #fbe9e9;
$color-heavy-pink: #fdf1e7;
$color-light-green-1: #e7faf9;
$color-light-gray: #f5ecfd;
$color-heavy-gray: #e7effb;
//color span
$color-blue-2: #5e68f9;
$color-light-blue: #45ccdb;
$color-heavy-blue: #545cf0;
$color-light-pink-2: #f16bac;
$color-green: #48de57;
//font-size

$fs-0: 15px;
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 20px;
$fs-4: 30px;
$fs-5: 24px;
$fs-6: 14px;

//font-weight
$fw-0: normal;
$fw-1: 500;
$fw-2: 700;
$fw-3: 900;

//line-height
$line-height-0: 1.43;

//margin
$mg-0: 5px;
$mg-1: 25px;
$mg-2: 20px;
$mg-3: 32px;
$mg-4: 40px;

//padding
$pd-0: 10px;
$pd-1: 15px;
$pd-2: 5px;
$pd-3: 20px;
$pd-4: 32px;

//border-radius
$border-radius: 2px;
$border-radius-1: 10px;
$border-radius-2: 40px;
