.trusted {
  position: relative;
  padding: 0;
  margin-bottom: 3rem;
  .trusted--banner {
    box-shadow: 0px 36px 44px rgba(40, 42, 84, 0.132703);
    border-radius: 10px;
  }

}
.trusted-wrap {
  position: relative;
  padding: 5.5rem 0 5.5rem 5.5rem;

}